<div class="container">
    <div class="board">

    
     <h6 class="my-2">1.Front-End Development Experience:</h6> Accumulated 2 years of hands-on experience as a Front-End Developer specializing in Angular.

    <h6 class="my-2">2.Project Contributions:</h6>
        <ul>
            <li>Worked on two significant projects, namely Hipokratiz and Paysafe.</li>
            <li>Dedicated 1.5 years to the Hipokratiz project, showcasing prolonged commitment and deep involvement.</li>
            <li>Currently engaged with the Paysafe project for the last 4 months, demonstrating adaptability to diverse project environments.</li>
        </ul>
    

     <h6 class="my-2">3.Task Diversity and Timely Completion:</h6>
        <ul>
            <li>Successfully tackled various tasks spanning different aspects of front-end development within both projects.</li>
            <li>Consistently met project deadlines, ensuring timely completion of assigned tasks.</li>
        </ul>
    

     <h6 class="my-2">4.Team Coordination Skills:</h6>
        <ul>
            <li>Demonstrated strong team coordination skills, fostering effective collaboration among team members.</li>
            <li>Contributed positively to team dynamics, enhancing overall project productivity and efficiency.</li>
        </ul>
    
</div>
    
    <h1 class="level-1 rectangle text-center mt-4">Dilligen Technologies</h1>
    <ol class="level-2-wrapper">
      <li>
        <h2 class="level-2 rectangle text-center">HipoKratiz</h2>
        <ol class="level-3-wrapper">
          <li>
            <h3 class="level-3 rectangle text-center">Technologies</h3>
            <ol class="level-4-wrapper">
              <li>
                <h4 class="level-4 rectangle">Angular</h4>
              </li>
              <li>
                <h4 class="level-4 rectangle">Scss</h4>
              </li>
              <li>
                <h5 class="level-4 rectangle">Bootstrap</h5>
              </li>
            </ol>
          </li>
          <li>
            <h3 class="level-3 rectangle text-center">About</h3>
            <ol class="level-4-wrapper">
              <li>
                <p class="level-4 rectangle">A SaaS application targeting USA & Canada
                    Dental Practices. It helps practitioners to manage their leads
                    that comes from different platforms.</p>
              </li>
              <!-- <li>
                <h4 class="level-4 rectangle">Person B</h4>
              </li>
              <li>
                <h4 class="level-4 rectangle">Person C</h4>
              </li>
              <li>
                <h4 class="level-4 rectangle">Person D</h4>
              </li> -->
            </ol>
          </li>
        </ol>
      </li>
      <li>
        <h2 class="level-2 rectangle text-center">Paysafe</h2>
        <ol class="level-3-wrapper">
          <li>
            <h3 class="level-3 rectangle text-center">Technologies</h3>
            <ol class="level-4-wrapper">
              <li>
                <h4 class="level-4 rectangle">Angular</h4>
              </li>
              <li>
                <h4 class="level-4 rectangle">Css</h4>
              </li>
              <li>
                <h5 class="level-4 rectangle">Materialize Css</h5>
              </li>
              <!-- <li>
                <h4 class="level-4 rectangle">Person D</h4>
              </li> -->
            </ol>
          </li>
          <li>
            <h3 class="level-3 rectangle text-center">About</h3>
            <ol class="level-4-wrapper">
              <li>
                <p class="level-4 rectangle">Paysafe, an Angular banking application,
                    enables credit and debit card transactions in Europe, US,
                    and Canada region.</p>
              </li>
           
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>
  
 