/* Import Bootstrap Icons */
@import url("~bootstrap-icons/font/bootstrap-icons.css");

/* Navbar Styles */
.navbar {
    background-color: #120421;
}

/* Navbar Link Styles */
.navbar a, .navbar-brand {
    background: linear-gradient(45deg, #c01c64, #e5475b);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    font-size: large;
    font-weight: bold; /* Apply bold font to navbar brand */
}

/* Navbar Toggler Styles */
.navbar-toggler-icon, .navbar-toggler {
    background-color: white;
}

/* Navbar Link Hover Effect */
.navbar a:hover {
    color: #e5475b;
}
