@import "~bootstrap-icons/font/bootstrap-icons.css";
.navbar{
    background-color:#120421 ;
}
.navbar a{
    background: linear-gradient(45deg, #c01c64, #e5475b);
    -webkit-background-clip: text; /* WebKit/Blink browsers */
    color: transparent;
    text-decoration: none;
    font-size: large;
}

.navbar-brand{
    background: linear-gradient(45deg, #c01c64, #e5475b);
    -webkit-background-clip: text; /* WebKit/Blink browsers */
    color: transparent;
    text-decoration: none;
    font-weight: bold;
}
.navbar-toggler-icon,.navbar-toggler{
    background-color: white;
    background-position: center;
    background-size: cover;
    color:black
}

nav a:hover{
    color: #e5475b
}