<div class="body container-fluid">
  <div class="row">
    <div class="col-12 col-md-5 order-2 order-md-1 box">
      <h2 class="name">
        HI I'M
        <h1 class="name-text mt-1">Mohamed Hathil .H</h1>
        <p class="" #roleText>{{ developerRoles[currentRoleIndex] }}</p>
      </h2>
      <span class="btns">
        <button type="button" class="btn hire mx-4 " (click)="scrollToElement()" >contact me</button>
        <button type="button" class="btn hire">
          <a href="assets/mohamed_resume.pdf" download>
            <i class="bi bi-download py-2"></i> <span class="mx-2">cv</span>
          </a>
        </button>
      </span>
    </div>
    <div class="col-12 col-md-7 order-1 order-md-2">
      <div class="box-1 mt-3">
        <img
          class="img1"
          src="assets/img/magicpattern-blob-1707646005511.png"
        />
        <img class="img2" src="assets/img/old.png" />
      </div>
    </div>
  </div>
  <hr />
  <app-skills></app-skills>
 
</div>
